body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}
.register_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */
}

.innerForm {
  width: 400px;
}

.register-form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-form input {
  padding: 12px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.register-form input:focus {
  border-color: #19582d;
  outline: none;
}

.register-form button {
  padding: 12px 20px;
  background-color: #19582d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #c4a35a;
}

.register-form p {
  margin-top: 15px;
}

.register-form a {
  text-decoration: none;
  color: #19582d;
  font-weight: bold;
}

.register-form a:hover {
  text-decoration: underline;
}
/* Header Styling */
.header {
  background-color: #c4a35a;
  color: white;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.header .logo img {
  height: 100px;
  width: auto;
}

.header .logo-text {
  font-size: 250%;
  font-weight: bold;
  margin-left: 390px;
  text-align: center;
}

/* Job Post Section Styling (similar to login section) */
.job-post-section {
  text-align: center;
  margin: 0;
  padding: 240px 20px 60px;
  /* background-image: url("../images/jobprovimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.job-post-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 10px;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 500px;
}

.job-post-form:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  border: 2px solid #19582d;
}

.job-post-form input,
.job-post-form textarea {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.job-post-form button {
  padding: 10px 20px;
  background-color: #19582d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.job-post-form button:hover {
  background-color: #c4a35a;
}

/* Footer Styling */
footer {
  background-color: #c4a35a;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
