body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

header {
  background-color: #c4a35a;
  color: white;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -7px;
  margin-right: -7px;
  margin-top: -8px;
  margin-bottom: 10px;
}

header .logo img {
  height: 100px;
  width: auto;
}

header .logo-text {
  font-size: 250%;
  font-weight: bold;
  margin-left: 600px;
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
}

.login-section {
  text-align: center;
  margin-top: 0px;
  margin-left: -8px;
  margin-right: -8px;
  padding: 240px;
  padding-top: 60px;
  background-image: url("../images/studentlog.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 20px;
  transition: all 0.5s;
  border: 2px solid #256e3c;
}

.login-form:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #19582d;
}

.login-form input {
  padding: 10px;
  margin: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.login-form button {
  padding: 10px 20px;
  background-color: #19582d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #c4a35a;
}

footer {
  background-color: #c4a35a;
  color: white;
  text-align: center;
  /* padding: -1px; */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.student-header {
  background-color: #fdfaf1;
  border-left: 6px solid #3ab461;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Nunito", sans-serif;
}

.student-header h2 {
  color: #19582d;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.welcome-msg {
  font-size: 1.2em;
  color: #333;
}

.student-header strong {
  color: #c4a35a;
}

.student-header.error {
  border-left-color: red;
  background-color: #ffe5e5;
  color: red;
}
